<!doctype html>
<html lang="en" class="chrome chrome124">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Accept-CH" content="DPR,ViewPort-Width,Width"/>
        <link href="https://www.youtube.com" rel="preconnect"/>
        <link href="https://img.youtube.com" rel="preconnect"/>
        <link href="https://i.ytimg.com" rel="preconnect"/>
        <link href="https://s.ytimg.com" rel="preconnect"/>
        <link href="https://www.googletagmanager.com" rel="preconnect"/>
        <link href="https://www.google-analytics.com" rel="preconnect"/>
        <link href="https://px.ads.linkedin.com" rel="preconnect"/>
        <link href="https://fonts.googleapis.com" rel="dns-prefetch"/>
        <link href="https://fonts.gstatic.com" rel="dns-prefetch"/>
        <link href="https://fonts.googleapis.com" rel="preconnect"/>
        <link href="https://fonts.gstatic.com" rel="preconnect"/>
        <link href="/util/fontawesome5/webfonts/fa-brands-400.woff2" rel="preload" type="font/woff2" as="font" crossorigin=""/>
        <link href="/util/fontawesome5/webfonts/fa-solid-900.woff2" rel="preload" type="font/woff2" as="font" crossorigin=""/>
        <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700&amp;display=swap" rel="preload" as="style"/>
        <link rel="stylesheet" type="text/css" href="default.css"/>
        <link rel="stylesheet" type="text/css" href="jquery.fancybox.min.css"/>
        <link rel="stylesheet" type="text/css" href="fontawesome_solid.min.css"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,700&amp;display=swap" media="print" onload="this.media='all'"/>
        <link rel="alternate" type="text/html" hreflang="fr" href="https://www.ibb.lu/constructions-agricoles/"/>
        <link rel="alternate" type="text/html" hreflang="de" href="https://www.ibb.lu/agrarbau/"/>
        <link rel="alternate" type="text/html" hreflang="en" href="https://www.ibb.lu/agricultural-construction/"/>
        <link rel="canonical" href="https://www.ibb.lu/agricultural-construction/"/>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <link rel="icon" type="image/png" href="/icon.png"/>
        <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png"/>
        <meta name="robots" content="index,follow"/>
        <meta name="author" content="IBB"/>
        <meta name="description" content="Agricultural construction. Construction company IBB in Luxembourg, your partner for the planning and execution of construction projects in Luxembourg"/>
        <meta name="msvalidate.01" content="2B1ACDF5D6A7AC0D03B877FD0B6C3940"/>
        <meta name="facebook-domain-verification" content="86cbsir6nszxmrskkzjo3p4g8tf1a1"/>
        <meta property="og:title" content="Agricultural construction - Construction company IBB Luxembourg"/>
        <meta property="og:description" content="Agricultural construction. Construction company IBB in Luxembourg, your partner for the planning and execution of construction projects in Luxembourg"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://www.ibb.lu/agricultural-construction/?utm_source=www.ibb.lu&amp;utm_medium=social&amp;utm_campaign=OpenGraph&amp;utm_content=og%3Aurl"/>
        <meta property="og:publish_date" content="2020-09-25T00:00:00.0000000"/>
        <meta property="og:image" content="https://www.ibb.lu/thumbnails/78899-1200-1200-Max.jpg"/>
        <meta property="og:image:secure_url" content="https://www.ibb.lu/thumbnails/78899-1200-1200-Max.jpg"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="1200"/>
        <meta property="og:site_name" content="IBB"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:url" content="https://www.ibb.lu/agricultural-construction/?utm_source=www.ibb.lu&amp;utm_medium=social&amp;utm_campaign=OpenGraph&amp;utm_content=og%3Aurl"/>
        <meta name="twitter:site" content="https://www.ibb.lu/"/>
        <meta name="twitter:title" content="Agricultural construction - Construction company IBB Luxembourg"/>
        <meta name="twitter:description" content="Agricultural construction. Construction company IBB in Luxembourg, your partner for the planning and execution of construction projects in Luxembourg"/>
        <meta property="twitter:image" content="https://www.ibb.lu/thumbnails/78899-1200-1200-Max.jpg"/>
        <script type="application/ld+json">
            {
                "priceRange": "€€",
                "hasDriveThroughService": false,
                "address": [
                    {
                        "addressCountry": "Luxembourg",
                        "addressLocality": "Fischbach",
                        "postalCode": "9749",
                        "streetAddress": "6, Giäellewee",
                        "@context": "http://schema.org",
                        "@type": "PostalAddress"
                    }
                ],
                "telephone": "+352 979 057 1",
                "legalName": "IBB Baugesellschaft mbH",
                "contactPoint": {
                    "contactType": "sales",
                    "telephone": "+352 979 057 1",
                    "@context": "http://schema.org",
                    "@type": "ContactPoint"
                },
                "email": "info@ibb.lu",
                "vatID": "LU16494629",
                "image": {
                    "embedUrl": "https://www.ibb.lu/custom/images/logo.png",
                    "thumbnailUrl": "https://www.ibb.lu/custom/images/logo.png",
                    "url": "https://www.ibb.lu/custom/images/logo.png",
                    "@context": "http://schema.org",
                    "@type": "ImageObject"
                },
                "name": "IBB",
                "sameAs": [
                    "https://www.ibb.lu/",
                    "https://www.facebook.com/IBB-Baugesellschaft-186327565232481",
                    "https://www.youtube.com/channel/UCwwJyMyuJ_igyiGrDal707g"
                ],
                "url": "https://www.ibb.lu/",
                "@context": "http://schema.org",
                "@type": "HomeAndConstructionBusiness"
            }</script>
        <script src="jquery-3.5.1.min.js"></script>
        <!-- Google Tag Start -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-N4EQFHQMH8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('consent', 'default', {
                'analytics_storage': 'granted',
                'ad_storage': 'granted',
                'ad_user_data': 'granted',
                'ad_personalization': 'granted'
            });
            gtag('config', 'G-N4EQFHQMH8', {
                'page_path': location.pathname,
                'url_passthrough': true,
                'send_page_view': true,
                'language': 'en',
                'webcore_page': 'agr',
                'webcore_section': 'agr',
                'user_id': 'f6651021-2f26-430a-a88e-060d19c1a015',
                'content_group': 'agr'
            });
        </script>
        <!-- Google Tag End -->
        <!-- LinkedIn Insights Code -->
        <script type="text/javascript">
            _linkedin_partner_id = 5049210;
            window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
            window._linkedin_data_partner_ids.push(_linkedin_partner_id);
        </script>
        <script type="text/javascript">
            (function(l) {
                if (!l) {
                    window.lintrk = function(a, b) {
                        window.lintrk.q.push([a, b])
                    }
                    ;
                    window.lintrk.q = []
                }
                var s = document.getElementsByTagName('script')[0];
                var b = document.createElement('script');
                b.type = 'text/javascript';
                b.async = true;
                b.src = 'https://snap.licdn.com/li.lms-analytics/insight.min.js';
                s.parentNode.insertBefore(b, s);
            }
            )(window.lintrk);
        </script>
        <script type="text/javascript"></script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=5049210&fmt=gif"/>
        </noscript>
        <!-- End LinkedIn Insights Code -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GERBACK
</title>
    </head>
    <body id="body" class="contentmodule pagezonemodule custommodule wc-page page_agr section_agr lang_en mode_normal status_success category category_4853">
        <!--WCFormStart-->
        <form method="post" action="./" id="ctl02">
            <header id="header">
                <div class="container-fluid">
                    <div id="logo">
                        <a href="/">
                            <img src="/images/logo.jpeg" width="172" height="85" alt="IBB"/>
                        </a>
                    </div>
                    <div id="navigation-toggle">
                        <span></span>
                    </div>
                    <div id="navigation">
                        <div id="topbar">
                            <div id="toplanguages">
                                <span class="current">en</span>
                                <div id="C_T_lang" class="languagelinks" role="navigation" aria-label="Language Navigation">
                                    <a id="C_T_lang_lnkLangfr" title="Français" class="languagelink fr" hreflang="fr" href="/constructions-agricoles/">FR</a>
                                    <a id="C_T_lang_lnkLangde" title="Deutsch" class="languagelink de" hreflang="de" href="/agrarbau/">DE</a>
                                    <a id="C_T_lang_lnkLangen" title="English" class="languagelink en selected" hreflang="en" href="/agricultural-construction/">EN</a>
                                </div>
                            </div>
                            <div class="links">
                                <a title="IBB - Construction company - Real estate projects in Luxembourg" class="pagelink" href="latestnews.html">News</a>
                                <a title="Job offers at IBB - Construction company - Real estate projects in Luxembourg" class="pagelink" href="discover carrer.html">Jobs</a>
                                <a title="Construction company IBB Luxembourg" class="pagelink" href="reference.html">References</a>
                                <a title="Construction company IBB Luxembourg" class="pagelink" href="company.html">Company</a>
                                <a title="Contact - IBB Baugesellschaft. Luxembourg, Belgium" class="pagelink" href="contact person.html">Contact</a>
                            </div>
                        </div>
                        <nav id="nav">
                            <ul class="navigation">
                                <li>
                                    <a title="Construction company IBB Luxembourg" class="pagelink" href="construction plan.html">Residential</a>
                                </li>
                                <li>
                                    <a title="Construction company IBB Luxembourg" class="pagelink selected" href="agricultre.html">Agricultural construction</a>
                                </li>
                                <li>
                                    <a title="Construction company IBB Luxembourg" class="pagelink" href="industrial.html">Industrial &amp;commercial</a>
                                </li>
                                <li>
                                    <a title="IBB construction - Sale of real estate -Real estate projects Luxembourg IBB." class="pagelink" href="realestate.html">Real estate sale</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <div id="C_T_DefaultRegion">
                <div class="stage" style="background-image:url('/agri/agri\ bg.png')">
                    <div class="container-fluid">
                        <h1 class="category-title">Agricultural construction</h1>
                        <div class="category-description">
                            <div>
                                <p>Perfect agricultural conditions</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="subnav-container">
                        <nav role="navigation" class="sitesubnav sitesubnav-items-2 sitenav-items-2">
                            <ul class="nav">
                                <li class="page active nav-item">
                                    <a href="/agricultural-construction/" class="nav-link">
                                        <span>Agricultural construction</span>
                                    </a>
                                </li>
                                <li class="page nav-item">
                                    <a href="/agricultural-construction/relocation/" class="nav-link">
                                        <span>Relocation</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="section-content nopadding">
                    <div class="entries-list">
                        <div class="entry cd-section" id="/agricultural-construction/agricultural-construction/new-agricultural-farmsteads-with-integrated-approa/">
                            <div class="container textes-container">
                                <h2 id="C_T_DefaultRegion_M6066_repEntries_ctl01_ctl00_etTitle1" class="entrytitle">New agricultural farmsteads with integrated approach</h2>
                                <div class="richtext">
                                    <div id="C_T_DefaultRegion_M6066_repEntries_ctl01_ctl00_etRichtext">
                                        <p>
                                            We combine many years of expertise in<span>&nbsp;</span>
                                            <strong>agricultural construction</strong>
                                            <span>&nbsp;</span>
                                            and<span>&nbsp;</span>
                                            residential property construction &nbsp;to develop concepts that make optimum use of the capacities of a property. We make the<span>&nbsp;</span>
                                            land<span>&nbsp;</span>
                                            <strong>ready for construction</strong>
                                            &ndash;from site development and<span>&nbsp;</span>
                                            <strong>technical planning</strong>
                                            <span>&nbsp;</span>
                                            to the coordinated execution of all construction work.
                                        </p>
                                        <p>
                                            It is essential to maintain the quality of life in rural areas in the long term. <strong>Agricultural buildings</strong>
                                            give villages their character and greatly influence their charm. For all <strong>new buildings, agricultural extensions and transformations</strong>
                                            , we mainly have in mind the further development of agriculture in a functioning local community.
                                        </p>
                                    </div>
                                    <div class="webvideo embed-responsive embed-responsive-16by9 entryvideo">
                                        <iframe src="https://www.youtube.com/embed/ErBokkkBGiU?rel=0&enablejsapi=1&modestbranding=1&autoplay=0&controls=1&hl=en&cc_lang_pref=en&cc_load_policy=0" title="New agricultural farmsteads with integrated approach" class="embed-responsive-item" frameborder="0" webkitallowfullscreen="True" mozallowfullscreen="True" allowfullscreen="True" loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-cta">
                                <div id="C_T_DefaultRegion_M6066_repEntries_ctl01_ctl00_etRawtext" class="cta-text">
                                    <strong>You plan to build new stables and halls?</strong>
                                    <br/>Contact us for advice.
                                </div>
                                <a class="btn btn-secondary" href="/contactpersons/#contactsCategory266">Contact us</a>
                            </div>
                            <div class="container images-container"></div>
                        </div>
                        <div></div>
                        <div class="entry cd-section" id="/agricultural-construction/agricultural-construction/agricultural-buildings/">
                            <div class="container textes-container">
                                <h2 id="C_T_DefaultRegion_M6066_repEntries_ctl03_ctl00_etTitle1" class="entrytitle">Agricultural buildings</h2>
                                <div class="richtext">
                                    <div id="C_T_DefaultRegion_M6066_repEntries_ctl03_ctl00_etRichtext">
                                        <p>
                                            <span>An intelligently planned &nbsp;</span>
                                            <strong>resettlers' farm</strong>
                                            <span>&nbsp;may include stables, silo facilities, biogas plants, slurry tanks, slurry lagoons, mobile silos and machinery alongside residential accommodation and multi-modal storehouses. Your advantage with IBB? We bundle several competences (residential construction, agricultural construction and industrial construction), and are therefore ideally equipped for &nbsp;</span>
                                            <strong>agricultural construction projects</strong>
                                            <span>.</span>
                                        </p>
                                        <p>
                                            <span>Our functional building design offers versatile possibilities of use: </span>
                                        </p>
                                        <ul>
                                            <li>
                                                <span>
                                                    dairy farm<br/>
                                                </span>
                                            </li>
                                            <li>
                                                <span>nurse cow barn, calving barn, suckler cow barn</span>
                                            </li>
                                            <li>
                                                <span>cattle breeding barn, young cattle barn, calf barn</span>
                                            </li>
                                            <li>
                                                <span>bull fattening barn</span>
                                            </li>
                                            <li>
                                                <span>horse stable</span>
                                            </li>
                                            <li>
                                                <span>sheep barn, goat barn</span>
                                            </li>
                                            <li>
                                                <span>milking house</span>
                                            </li>
                                            <li>
                                                <span>pigsty </span>
                                            </li>
                                            <li>
                                                <span>poultry house</span>
                                            </li>
                                            <li>
                                                <span>open stable and many other possibilities</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-cta">
                                <div id="C_T_DefaultRegion_M6066_repEntries_ctl03_ctl00_etRawtext" class="cta-text">IBB is your number 1 for the construction of agricultural buildings in Luxembourg</div>
                                <a class="btn btn-secondary" href="reference.html">Learn more</a>
                            </div>
                            <div class="container images-container"></div>
                        </div>
                        <div>
                            <div class="section-bottom-projects">
                                <div class="container-fluid">
                                    <h2>
                                        <span>
                                            Our <strong>references &nbsp;</strong>
                                            speak
                                        </span>
                                        <br/>
                                        <span>for themselves!</span>
                                    </h2>
                                </div>
                                <div class="bg">
                                    <img src="/agri/ag2.jpg" alt="Access to the bunker silos" class="rsImg" width="800" height="450" loading="lazy"/>
                                </div>
                                <div class="container-fluid">
                                    <a class="project" href="/projects/agricultural-buildings/cow-hotel-with-full-board-in-cruchten/" title="Modern farm site  in Cruchten">
                                        <div class="img-container">
                                            <img src="/agri/f1.jpeg" alt="Yard entrance and stables - Yard entrance with calf barn and dairy cattle shed" class="rsImg" width="800" height="450" loading="lazy"/>
                                        </div>
                                        <div class="txt-container">
                                            <div class="txt-bg">
                                                <h3 class="title">Modern farm site  in Cruchten</h3>
                                                <div class="link">Discover project</div>
                                                <div id="C_T_DefaultRegion_M6066_repEntries_ctl03_ctl00_ctl03_M7159_ETR_ctl01_ctl00_EntryTextSummary" class="rawtext rawtext1 summary">On the outskirts of Cruchten, the Lamborelle family runs a modern relocated farm site. It is a typical family business with dairy farming and cultivation. All construction works of the buildings as well as the corresponding infrastructure were planned and executed by IBB Baugesellschaft - under consideration of technical and economic requirements.</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="entry cd-section" id="/agricultural-construction/agricultural-construction/24797/">
                            <div class="container textes-container">
                                <h2 id="C_T_DefaultRegion_M6066_repEntries_ctl05_ctl00_etTitle1" class="entrytitle">Grants aimed at promoting agriculture</h2>
                                <div class="richtext">
                                    <div id="C_T_DefaultRegion_M6066_repEntries_ctl05_ctl00_etRichtext">
                                        <p>Legislation and directives covering applications for grants and subsidies for buildings in the agricultural sector can frequently change. We develop our projects in such a way that they always meet the latest standards and requirements.</p>
                                        <p>
                                            I
                                            <span>
                                                t is worth inquiring with the relevant authorities about the 
                                                <strong>
                                                    <a href="https://agriculture.public.lu/de/beihilfen.html" target="_blank">possibilities for promoting agriculture</a>
                                                </strong>
                                                .
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-cta">
                                <a class="btn btn-secondary" href=""></a>
                            </div>
                            <div class="container images-container">
                                <div class="images-list row">
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100092.jpg">
                                            <img src="/agri/ag1.jpeg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100093.jpg">
                                            <img src="/agri/ag2.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100094.jpg">
                                            <img src="/agri/ag3.jpeg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100095.jpg">
                                            <img src="/agri/100095-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100096.jpg">
                                            <img src="/agri/100096-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100097.jpg">
                                            <img src="/agri/ag6.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100098.jpg">
                                            <img src="/agri/100098-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100099.jpg">
                                            <img src="/agri/100099-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100100.jpg">
                                            <img src="/agri/100100-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100101.jpg">
                                            <img src="/agri/ag2.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100102.jpg">
                                            <img src="/agri/ag10.jpeg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100103.jpg">
                                            <img src="/agri/ag3.jpeg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100104.jpg">
                                            <img src="/agri/ag12.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100105.jpg">
                                            <img src="/agri/100105-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100107.jpg">
                                            <img src="/agri/ag1.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100106.jpg">
                                            <img src="/agri/100106-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100108.jpg">
                                            <img src="/agri/100108-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100109.jpg">
                                            <img src="/agri/100109-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100110.jpg">
                                            <img src="/agri/ag10.jpeg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100111.jpg">
                                            <img src="/agri/100111-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100112.jpg">
                                            <img src="/agri/100112-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100113.jpg">
                                            <img src="/agri/100113-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100114.jpg">
                                            <img src="/agri/100114-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100115.jpg">
                                            <img src="/agri/100115-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100116.jpg">
                                            <img src="/agri/100116-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100117.jpg">
                                            <img src="/agri/100117-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100118.jpg">
                                            <img src="/agri/ag19.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Storage hall and yard area" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Storage hall and yard area" href="/files/98519.jpg">
                                            <img src="/agri/98519-800-540-Crop.jpg" alt="Storage hall and yard area" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Calf and young cattle barn" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Calf and young cattle barn" href="/files/99509.jpg">
                                            <img src="/agri/99509-800-540-Crop.jpg" alt="Calf and young cattle barn" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="images-item col-xs">
                                        <a title="Grants aimed at promoting agriculture" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[24797]" data-fancybox="24797" data-caption="Grants aimed at promoting agriculture" href="/files/100119.jpg">
                                            <img src="/agri/100119-800-540-Crop.jpg" alt="Grants aimed at promoting agriculture" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="bottom-cta">
                <div class="container">
                    <div class="row">
                        <div class="col-lg contact-container">
                            <div class="wrapper">
                                <div class="cta-title">Construction project in Luxembourg?</div>
                                <a title="Contact - IBB Baugesellschaft. Luxembourg, Belgium" class="pagelink btn btn-sm btn-primary btn-cta" href="/contact-en/">Contact our experts</a>
                            </div>
                        </div>
                        <div class="col-lg job-container">
                            <div class="wrapper">
                                <div class="cta-title">Working in the building industry, a profession with a future!</div>
                                <a title="Job offers at IBB - Construction company - Real estate projects in Luxembourg" class="pagelink btn btn-sm btn-primary btn-cta" href="/career/">Discover our career opportunities</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <div class="curb-gray">
                    <svg version="1.1" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve" preserveAspectRatio="none">
                        <path id="XMLID_1_" class="st0" d="M40.5-0.5c-16,27.9-30.1,38.3-41,41h41V-0.5z"/>
                    </svg>
                </div>
                <div class="container">
                    <div class="row gutter-vertical">
                        <address class="col-xs-12 col-sm-8 col-md-7">
                            <div class="row">
                                <div class="logo col-xs-12 col-sm-6 col-md-5">
                                    <img src="/images/logo.jpeg" width="172" height="85" alt="IBB Baugesellschaft - Entreprise de construction"/>
                                </div>
                                <div class="column col-xs-12 col-sm-6 col-md-7">
                                    <div class="title">GERBACK</div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span>6, Gi &auml;llewee</span>
                                            <br/>
                                            L-<span>9749</span>
                                            <span>Fischbach</span>
                                            <br/>
                                            <span>Luxembourg</span>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            Tel. 
                                            <span>
                                                <a class="phonelink" href="tel:+352-97-90-57-1" onclick="fetch('/api/user/track/', { method: 'POST', body: JSON.stringify({Goal:8,Url:'https://www.ibb.lu/agricultural-construction/',Source:'+352 97 90 57 - 1',TransactionID:'638507012094436179',Category:'phonelink',Action:'call',Label:'+352 97 90 57 1',Name:'phonelink_call'}), headers: { 'Content-Type': 'application/json' } });gtag('event', 'phonelink_call',{'event_category':'phonelink','event_label':'+352 97 90 57 - 1','value':0,'event_goal':'phonecall','transaction_id':638507012094436179});">+352 97 90 57 - 1</a>
                                            </span>
                                            <br/>
                                            Fax <span>+352 97 99 10</span>
                                            <br/>
                                            <span>
                                                <a class="emaillink" href="mailto:info@ibb.lu?subject=Information%20Request%20-%20Agricultural%20construction%20-%20www.ibb.lu%20-%20638507012094436179" onclick="fetch('/api/user/track/', { method: 'POST', body: JSON.stringify({Goal:2,Url:'https://www.ibb.lu/agricultural-construction/',Source:'info@ibb.lu',TransactionID:'638507012094436179',Category:'emaillink',Action:'send',Label:'info@ibb.lu - information request - agricultural construction - www.ibb.lu',Name:'emaillink_send'}), headers: { 'Content-Type': 'application/json' } });gtag('event', 'emaillink_send',{'event_category':'emaillink','event_label':'info@ibb.lu - information request - agricultural construction - www.ibb.lu','value':0,'event_goal':'enquiry','transaction_id':638507012094436179});">info@ibb.lu</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </address>
                        <div class="links col-xs-12 col-sm-4 col-md-5">
                           
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="curb-red">
                        <svg version="1.1" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve" preserveAspectRatio="none">
                            <path id="XMLID_1_" class="st0" d="M40.5-0.5c-16,27.9-30.1,38.3-41,41h41V-0.5z"/>
                        </svg>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="allrights col-xs-12 col-md">
                                <div class="impressum">
                                    <span>&#169;2017-2024 IBB. </span>
                                    <span class="legalinfolink">
                                        <a title="GERBACK" class="pagelink" href="/imprint/">Imprint</a>
                                    </span>
                                    <a title="IBB construction company &amp; real estate projects in Luxembourg" class="pagelink" href="/sitemap-en/">Sitemap</a>
                                    <span id="C_T_agencymum" class="agencymum">
                                        <span>
                                            <a title="Website by web agency MUM digital agency" class="contentlink" rel="noopener" href="https://www.mum.lu/sites-web/?utm_source=www.ibb.lu&amp;utm_medium=referral&amp;utm_campaign=references&amp;utm_content=agencymum" target="_blank">Web agency</a>
                                            &nbsp;<b>mum.lu</b>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="/util/jquery/fancybox/jquery.fancybox.min.js"></script>
            <script type="text/javascript">
                //<![CDATA[
                try {
                    (function() {
                        var afterPrint = function() {
                            gtag('event', 'page_print', {
                                'event_category': 'page',
                                'event_label': 'agricultural construction - [/agricultural-construction/]',
                                'value': 0,
                                'event_goal': 'custom',
                                'transaction_id': 638507012095786406
                            });
                        };
                        if (window.matchMedia) {
                            var mediaQueryList = window.matchMedia('print');
                            mediaQueryList.addListener(function(mql) {
                                if (!mql.matches)
                                    afterPrint();
                            });
                        }
                        window.onafterprint = afterPrint;
                    }());
                } catch (e) {}
                //]]>
            </script>
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="z7FTyJZIr+QAHiHh8ZyYb2eZ2xncZR7qpD7lUjUCc1BbpLZYYlXNoOt/mzdhWF64Scxyuy/egWJmlRQCET6ZGjvq8FTXK/o68miwi1EPySk="/>
            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CB57C80B"/>
        </form>
        <!--WCFormEnd-->
        <script type="text/javascript">

            //https://codyhouse.co/gem/vertical-fixed-navigation/

            $(document).ready(function($) {

                var contentSections = $('.cd-section')
                  , navigationItems = $('#cd-vertical-nav a');

                navigationItems.each(function(index) {
                    $(this).attr("data-number", (index + 1));
                    $(this).find('span').addClass("cd-label").before("<span class='cd-dot'></span>");
                });

                updateNavigation();
                $(window).on('scroll', function() {
                    updateNavigation();
                });

                //smooth scroll to the section
                navigationItems.on('click', function(event) {
                    event.preventDefault();
                    smoothScroll(constructTarget($(this)));
                });

                function updateNavigation() {
                    contentSections.each(function() {
                        $this = $(this);
                        var activeSection = $('#cd-vertical-nav a[href="#' + $this.attr('id') + '"]').data('number') - 1;
                        if (($this.offset().top - $(window).height() / 2 < $(window).scrollTop()) && ($this.offset().top + $this.height() - $(window).height() / 2 > $(window).scrollTop())) {
                            navigationItems.eq(activeSection).addClass('is-selected');
                        } else {
                            navigationItems.eq(activeSection).removeClass('is-selected');
                        }
                    });
                }
                function constructTarget(targetElement) {
                    var id = targetElement.attr('href').substring(1);
                    return $("#" + $.escapeSelector(id))
                }
                function smoothScroll(target) {
                    $('body,html').animate({
                        'scrollTop': target.offset().top
                    }, 600);
                }
            });
        </script>
        <script type="text/javascript">

            $(document).ready(function() {
                $('.entry-cta a').each(function() {
                    if ($(this).attr('href') === '' || $(this).text() === '') {
                        $(this).parents('.entry-cta').remove();
                    }
                });

                //add target blank on http and https links
                $(".entry-cta a[href*='http://'], .entry-cta a[href*='https://']").each(function() {
                    $(this).attr("target", "_blank");
                });
            });
        </script>
        <script type="text/javascript">

            $(document).ready(function() {
                $('#toplanguages .current').click(function() {
                    $(this).parent().toggleClass('show');
                });
                $('#navigation-toggle').click(function() {
                    $('html').toggleClass('shownav');
                });
                $('#subnav-toggle').click(function() {
                    $('#subnavvertical').toggleClass('showsubnav');
                });
            });
            $(window).on('scroll load', function() {
                // we round here to reduce a little workload
                var stop = Math.round($(window).scrollTop());
                if (stop > 40) {
                    $('body').addClass('scrolled');
                } else {
                    $('body').removeClass('scrolled');
                }
            });
        </script>
    </body>
</html>
