
<!doctype html>
<html lang="en" class="chrome chrome124">
<head>
<meta charset="utf-8" />
<meta http-equiv="Accept-CH" content="DPR,ViewPort-Width,Width" />

<link href="https://www.googletagmanager.com" rel="preconnect" />
<link href="https://www.google-analytics.com" rel="preconnect" />
<link href="https://px.ads.linkedin.com" rel="preconnect" />
<link href="https://fonts.googleapis.com" rel="dns-prefetch" />
<link href="https://fonts.gstatic.com" rel="dns-prefetch" />
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link href="https://fonts.gstatic.com" rel="preconnect" />
<link href="/util/fontawesome5/webfonts/fa-brands-400.woff2" rel="preload" type="font/woff2" as="font" crossorigin="" />
<link href="/util/fontawesome5/webfonts/fa-solid-900.woff2" rel="preload" type="font/woff2" as="font" crossorigin="" />
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,700&amp;display=swap" rel="preload" as="style" />

<link rel="stylesheet" type="text/css" href="/custom/css/default.less?v=30" />
<link rel="stylesheet" type="text/css" href="/util/jquery/fancybox/jquery.fancybox.min.css" />
<link rel="stylesheet" type="text/css" href="/util/fontawesome5/fontawesome_solid.min.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,700&amp;display=swap" media="print" onload="this.media='all'" />


<link rel="alternate" type="text/html" hreflang="fr" href="https://www.ibb.lu/entreprise/showroom/" />
<link rel="alternate" type="text/html" hreflang="de" href="https://www.ibb.lu/unternehmen/showroom/" />
<link rel="alternate" type="text/html" hreflang="en" href="https://www.ibb.lu/company/showroom/" />
<link rel="canonical" href="https://www.ibb.lu/company/showroom/" />

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/icon.png" />
<link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" />

<meta name="robots" content="index,follow" />
<meta name="author" content="IBB" />
<meta name="description" content="Showroom. IBB construction company (LUX) is your partner for building &amp; real estate projects in industrial, commercial, agricultural and residential property" />

<meta name="msvalidate.01" content="2B1ACDF5D6A7AC0D03B877FD0B6C3940" />

<meta name="facebook-domain-verification" content="86cbsir6nszxmrskkzjo3p4g8tf1a1" />

<meta property="og:title" content="Showroom - Construction company IBB Luxembourg" />
<meta property="og:description" content="Showroom. IBB construction company (LUX) is your partner for building &amp; real estate projects in industrial, commercial, agricultural and residential property" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.ibb.lu/company/showroom/?utm_source=www.ibb.lu&amp;utm_medium=social&amp;utm_campaign=OpenGraph&amp;utm_content=og%3Aurl" />
<meta property="og:publish_date" content="2020-07-20T00:00:00.0000000" />
<meta property="og:image" content="https://www.ibb.lu/thumbnails/96779-1200-1200-Max.jpg" />
<meta property="og:image:secure_url" content="https://www.ibb.lu/thumbnails/96779-1200-1200-Max.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="1200" />
<meta property="og:site_name" content="IBB" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://www.ibb.lu/company/showroom/?utm_source=www.ibb.lu&amp;utm_medium=social&amp;utm_campaign=OpenGraph&amp;utm_content=og%3Aurl" />
<meta name="twitter:site" content="https://www.ibb.lu/" />
<meta name="twitter:title" content="Showroom - Construction company IBB Luxembourg" />
<meta name="twitter:description" content="Showroom. IBB construction company (LUX) is your partner for building &amp; real estate projects in industrial, commercial, agricultural and residential property" />
<meta property="twitter:image" content="https://www.ibb.lu/thumbnails/96779-1200-1200-Max.jpg" />

<script type="application/ld+json">{"priceRange":"€€","hasDriveThroughService":false,"address":[{"addressCountry":"Luxembourg","addressLocality":"Fischbach","postalCode":"9749","streetAddress":"6, Giäellewee","@context":"http://schema.org","@type":"PostalAddress"}],"telephone":"+352 979 057 1","legalName":"IBB Baugesellschaft mbH","contactPoint":{"contactType":"sales","telephone":"+352 979 057 1","@context":"http://schema.org","@type":"ContactPoint"},"email":"info@ibb.lu","vatID":"LU16494629","image":{"embedUrl":"https://www.ibb.lu/custom/images/logo.png","thumbnailUrl":"https://www.ibb.lu/custom/images/logo.png","url":"https://www.ibb.lu/custom/images/logo.png","@context":"http://schema.org","@type":"ImageObject"},"name":"IBB","sameAs":["https://www.ibb.lu/","https://www.facebook.com/IBB-Baugesellschaft-186327565232481","https://www.youtube.com/channel/UCwwJyMyuJ_igyiGrDal707g"],"url":"https://www.ibb.lu/","@context":"http://schema.org","@type":"HomeAndConstructionBusiness"}</script>
<script src="/util/jquery/jquery-3.5.1.min.js"></script>



<!-- Google Tag Start -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N4EQFHQMH8"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('consent','default',{'analytics_storage':'granted','ad_storage':'granted','ad_user_data':'granted','ad_personalization':'granted'});
gtag('config', 'G-N4EQFHQMH8', {'page_path':location.pathname,'url_passthrough':true,'send_page_view':true,'language':'en','webcore_page':'ent','webcore_section':'ent','user_id':'5a1eb37a-2aae-4c07-a705-8924ce821120','content_group':'ent'});
</script>
<!-- Google Tag End -->



<!-- LinkedIn Insights Code -->

<script type="text/javascript">
_linkedin_partner_id = 5049210;
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script type="text/javascript">
(function(l) {
if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
window.lintrk.q=[]}
var s = document.getElementsByTagName('script')[0];
var b = document.createElement('script');
b.type = 'text/javascript';b.async = true;
b.src = 'https://snap.licdn.com/li.lms-analytics/insight.min.js';
s.parentNode.insertBefore(b, s);})(window.lintrk);
</script>
<script type="text/javascript">
</script>
<noscript><img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=5049210&fmt=gif" /></noscript>
<!-- End LinkedIn Insights Code -->


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
	Showroom - Construction company IBB Luxembourg
</title></head>
<body id="body" class="contentmodule pagezonemodule custommodule wc-page page_ent section_ent lang_en mode_normal status_success category category_4817">
<!--WCFormStart-->
<form method="post" action="./" id="ctl02"><header id="header">
    <div class="container-fluid">
		<div id="logo"><a href="/"><img src="/custom/images/header-logo.png" width="172" height="85" alt="IBB" /></a></div>
		<div id="navigation-toggle"><span></span></div>
		<div id="navigation">
            <div id="topbar">
                <div id="toplanguages">
                    <span class="current">en</span>
                    <div id="C_T_lang" class="languagelinks" role="navigation" aria-label="Language Navigation">
	<a id="C_T_lang_lnkLangfr" title="Français" class="languagelink fr" hreflang="fr" href="/entreprise/showroom/">FR</a> <a id="C_T_lang_lnkLangde" title="Deutsch" class="languagelink de" hreflang="de" href="/unternehmen/showroom/">DE</a> <a id="C_T_lang_lnkLangen" title="English" class="languagelink en selected" hreflang="en" href="/company/showroom/">EN</a>
</div>
                </div>
                <div class="links">
                    <a title="IBB - Construction company - Real estate projects in Luxembourg" class="pagelink" href="/latest-news/">News</a>
                    <a title="Job offers at IBB - Construction company - Real estate projects in Luxembourg" class="pagelink" href="/career/">Jobs</a>
                    <a title="Construction company IBB Luxembourg" class="pagelink" href="/projects/">References</a>
                    <a title="Construction company IBB Luxembourg" class="pagelink selected" href="/company/">Company</a>
                    <a title="Contact - IBB Baugesellschaft. Luxembourg, Belgium" class="pagelink" href="/contact-en/">Contact</a>
                </div>
            </div>
			<nav id="nav">
                <ul class="navigation">
                    <li><a title="Construction company IBB Luxembourg" class="pagelink" href="/construction/">Residential</a></li>
                    <li><a title="Construction company IBB Luxembourg" class="pagelink" href="/agricultural-construction/">Agricultural construction</a></li>
                    <li><a title="Construction company IBB Luxembourg" class="pagelink" href="/industrial-commercial/">Industrial &amp; commercial</a></li>
                    <li><a title="IBB construction - Sale of real estate -Real estate projects Luxembourg IBB." class="pagelink" href="/real-estate/">Real estate sale</a></li>
                </ul>
			</nav>
		</div>
    </div>
</header>

<div id="C_T_DefaultRegion">
	<div class="stage" style="background-image:url('/thumbnails/96779-1600-800-Crop.jpg')">
    <div class="container-fluid">
		<h1 class="category-title">Showroom</h1>
		<div class="category-description"><div>
		<p>The specified equipment in our showroom</p>
	</div></div>
    </div>
</div>
<div>
		<div class="subnav-container"><nav role="navigation" class="sitesubnav sitesubnav-items-5 sitenav-items-5"><ul class="nav"><li class="page nav-item"><a href="/company/" class="nav-link"><span>IBB Construction company</span></a></li><li class="page nav-item"><a href="/company/construction-planning/" class="nav-link"><span>Construction planning</span></a></li><li class="page nav-item"><a href="/company/construction-management/" class="nav-link"><span>Construction management</span></a></li><li class="page nav-item"><a href="/company/skills/" class="nav-link"><span>Our skills</span></a></li><li class="page active nav-item"><a href="/company/showroom/" class="nav-link"><span>Showroom</span></a></li></ul></nav></div>
	</div>
<div>
		

<nav role="navigation" id="cd-vertical-nav">
	
<ul class="subnav subnav-level-1" aria-label="Site Navigation">
<li id="subnav_4-5-1"><a class="sitemenuitem" href="#/company/showroom/30459/"><span>What do I get for my money?</span></a></li>
<li id="subnav_4-5-2"><a class="sitemenuitem" href="#/company/showroom/30460/"><span>Great exhibition variety</span></a></li>
<li id="subnav_4-5-3"><a class="sitemenuitem" href="#/company/showroom/30461/"><span>Quality products for a longlasting satisfaction&#8239;!</span></a></li>
</ul>

</nav>


	</div>
<div class="section-content nopadding">
	<div class="entries-list">       


<div class="entry cd-section" id="/company/showroom/30459/">
	<div class="container textes-container">
        <h2 id="C_T_DefaultRegion_M7251_repEntries_ctl01_ctl00_etTitle1" class="entrytitle">What do I get for my money?</h2>
		<div class="richtext">
            <div id="C_T_DefaultRegion_M7251_repEntries_ctl01_ctl00_etRichtext"><p>When buying once own property, nobody wants to buy a pig in a poke. It&rsquo;s your basic right to know what you are getting for your money. On an area of about 250 m&sup2; we present you the <strong>high standard offered as basic equipment</strong> in our projects. We look forward to welcome you to our IBB showroom. Here you will experience a selected equipment with materials made of wood, stainless steel, glass and ceramics in various shapes and colours. Stylish living within your own four walls with matching materials is an expression of your personal lifestyle. We help you to furnish <strong>your living spaces according to your wishe</strong>s. You can see, touch and decide freely.</p></div>
            
            
		</div>
	</div>
	<div class="entry-cta">
        
        <a class="btn btn-secondary" href=""></a>
	</div>
	<div class="container images-container">
				<div class="images-list row">
					<div class="images-item col-xs"><a title="Showroom - samplings - What do I get for my money?" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30459]" data-fancybox="30459" data-caption="Showroom - samplings - What do I get for my money?" href="/files/96780.jpg"><img src="/thumbnails/96780-800-540-Crop.jpg" alt="Showroom - samplings - What do I get for my money?" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Showroom - samplings - What do I get for my money?" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30459]" data-fancybox="30459" data-caption="Showroom - samplings - What do I get for my money?" href="/files/96777.jpg"><img src="/thumbnails/96777-800-540-Crop.jpg" alt="Showroom - samplings - What do I get for my money?" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Showroom - samplings - What do I get for my money?" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30459]" data-fancybox="30459" data-caption="Showroom - samplings - What do I get for my money?" href="/files/96778.jpg"><img src="/thumbnails/96778-800-540-Crop.jpg" alt="Showroom - samplings - What do I get for my money?" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
				</div></div>
</div>

<div>

	</div>
<div class="entry cd-section" id="/company/showroom/30460/">
	<div class="container textes-container">
        <h2 id="C_T_DefaultRegion_M7251_repEntries_ctl03_ctl00_etTitle1" class="entrytitle">Great exhibition variety</h2>
		<div class="richtext">
            <div id="C_T_DefaultRegion_M7251_repEntries_ctl03_ctl00_etRichtext"><p>Be inspired by the recommended benefits. Our offer ranges from high-quality interior design to windows and doors as well as to the design of <strong>exterior facade materials</strong>. You will also find information on home automation equipment and <strong>smart home control</strong>, <strong>sanitary facilities</strong> and <strong>shading systems</strong>. We support you with well thought-out concepts. But that&lsquo;s not all. Our partner companies can provide you with the desired samples for any equipment that goes beyond the basic range offered. Well-trained specialists are available for this purpose.</p></div>
            
            
		</div>
	</div>
	<div class="entry-cta">
        <div id="C_T_DefaultRegion_M7251_repEntries_ctl03_ctl00_etRawtext" class="cta-text"><strong>All services from 1 source</strong><br/>IBB advantages in housing construction</div>
        <a class="btn btn-secondary" href="/construction/">Good to know</a>
	</div>
	<div class="container images-container">
				<div class="images-list row">
					<div class="images-item col-xs"><a title="Showroom - samplings - Great exhibition variety" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30460]" data-fancybox="30460" data-caption="Showroom - samplings - Great exhibition variety" href="/files/96781.jpg"><img src="/thumbnails/96781-800-540-Crop.jpg" alt="Showroom - samplings - Great exhibition variety" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Showroom - samplings - Great exhibition variety" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30460]" data-fancybox="30460" data-caption="Showroom - samplings - Great exhibition variety" href="/files/96782.jpg"><img src="/thumbnails/96782-800-540-Crop.jpg" alt="Showroom - samplings - Great exhibition variety" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Showroom - samplings - Great exhibition variety" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30460]" data-fancybox="30460" data-caption="Showroom - samplings - Great exhibition variety" href="/files/96783.jpg"><img src="/thumbnails/96783-800-540-Crop.jpg" alt="Showroom - samplings - Great exhibition variety" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Showroom - samplings - Great exhibition variety" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30460]" data-fancybox="30460" data-caption="Showroom - samplings - Great exhibition variety" href="/files/96784.jpg"><img src="/thumbnails/96784-800-540-Crop.jpg" alt="Showroom - samplings - Great exhibition variety" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Showroom - samplings - Great exhibition variety" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30460]" data-fancybox="30460" data-caption="Showroom - samplings - Great exhibition variety" href="/files/96785.jpg"><img src="/thumbnails/96785-800-540-Crop.jpg" alt="Showroom - samplings - Great exhibition variety" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Showroom - samplings - Great exhibition variety" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30460]" data-fancybox="30460" data-caption="Showroom - samplings - Great exhibition variety" href="/files/96779.jpg"><img src="/thumbnails/96779-800-540-Crop.jpg" alt="Showroom - samplings - Great exhibition variety" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
				</div></div>
</div>

<div>

	</div>
<div class="entry cd-section" id="/company/showroom/30461/">
	<div class="container textes-container">
        <h2 id="C_T_DefaultRegion_M7251_repEntries_ctl05_ctl00_etTitle1" class="entrytitle">Quality products for a longlasting satisfaction&#8239;!</h2>
		<div class="richtext">
            <div id="C_T_DefaultRegion_M7251_repEntries_ctl05_ctl00_etRichtext"><p>Our showroom is open for our customers<strong> from Monday to Friday by appointment</strong>. Make full use of the advantages of our consulting services. You will receive answers to all your questions. Appointments can be arranged by calling <a class="phonelink" href="tel:+352-97-90-57-1" onclick="fetch('/api/user/track/', { method: 'POST', body: JSON.stringify({Goal:8,Url:'https://www.ibb.lu/company/showroom/',Source:'+352 97 90 57-1',TransactionID:'638507624440301917',Category:'phonelink',Action:'call',Label:'+352 97 90 57 1',Name:'phonelink_call'}), headers: { 'Content-Type': 'application/json' } });gtag('event', 'phonelink_call',{'event_category':'phonelink','event_label':'+352 97 90 57-1','value':0,'event_goal':'phonecall','transaction_id':638507624440301917});">+352 97 90 57-1</a>. Don&rsquo;t hesitate to contact us!</p>
<ul>
<li>Qualified advice</li>
<li>Sophisticated materials</li>
<li>Professional installation</li>
<li>Clearly defined warranty</li>
<li>Everything at a glance</li>
</ul></div>
            
            
		</div>
	</div>
	<div class="entry-cta">
        
        <a class="btn btn-secondary" href=""></a>
	</div>
	<div class="container images-container">
				<div class="images-list row">
					<div class="images-item col-xs"><a title="Example bathroom equipment - extra charge" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30461]" data-fancybox="30461" data-caption="Example bathroom equipment - extra charge" href="/files/98681.jpg"><img src="/thumbnails/98681-800-540-Crop.jpg" alt="Example bathroom equipment - extra charge" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Example bathroom equipment - extra charge" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30461]" data-fancybox="30461" data-caption="Example bathroom equipment - extra charge" href="/files/98680.jpg"><img src="/thumbnails/98680-800-540-Crop.jpg" alt="Example bathroom equipment - extra charge" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Example bathroom equipment - extra charge" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30461]" data-fancybox="30461" data-caption="Example bathroom equipment - extra charge" href="/files/98684.jpg"><img src="/thumbnails/98684-800-540-Crop.jpg" alt="Example bathroom equipment - extra charge" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Example bathroom equipment - extra charge" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30461]" data-fancybox="30461" data-caption="Example bathroom equipment - extra charge" href="/files/98679.jpg"><img src="/thumbnails/98679-800-540-Crop.jpg" alt="Example bathroom equipment - extra charge" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Example bathroom equipment - extra charge" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30461]" data-fancybox="30461" data-caption="Example bathroom equipment - extra charge" href="/files/98683.jpg"><img src="/thumbnails/98683-800-540-Crop.jpg" alt="Example bathroom equipment - extra charge" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
					<div class="images-item col-xs"><a title="Example bathroom equipment - extra charge" class="lightbox imagelightboxthumbnail imagelightboxthumbnail-content" rel="lightbox[30461]" data-fancybox="30461" data-caption="Example bathroom equipment - extra charge" href="/files/98682.jpg"><img src="/thumbnails/98682-800-540-Crop.jpg" alt="Example bathroom equipment - extra charge" class="img-fluid img-thumbnail" width="800" height="540" loading="lazy" /></a></div>
				</div></div>
</div>

<div>

	</div>    </div>
</div>



</div>





<div class="bottom-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg contact-container">
                <div class="wrapper">
                    <div class="cta-title">Construction project in Luxembourg?</div>
                    <a title="Contact - IBB Baugesellschaft. Luxembourg, Belgium" class="pagelink btn btn-sm btn-primary btn-cta" href="/contact-en/">Contact our experts</a>
                </div>
            </div>
            <div class="col-lg job-container">
                <div class="wrapper">
                    <div class="cta-title">Working in the building industry, a profession with a future!</div>
                    <a title="Job offers at IBB - Construction company - Real estate projects in Luxembourg" class="pagelink btn btn-sm btn-primary btn-cta" href="/career/">Discover our career opportunities</a>
                </div>
            </div>
        </div>
    </div>
</div>





<footer id="footer">
    <div class="curb-gray">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve" preserveAspectRatio="none">
            <path id="XMLID_1_" class="st0" d="M40.5-0.5c-16,27.9-30.1,38.3-41,41h41V-0.5z"/>
        </svg>
    </div>
	<div class="container">
        <div class="row gutter-vertical">
            <address class="col-xs-12 col-sm-8 col-md-7">
                <div class="row">
                    <div class="logo col-xs-12 col-sm-6 col-md-5">
                        <img src="/custom/images/header-logo.png" width="172" height="85" alt="IBB Baugesellschaft - Entreprise de construction" />
                    </div>
                    <div class="column col-xs-12 col-sm-6 col-md-7">
                        <div class="title">IBB Baugesellschaft mbH</div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
				                <span>6, Gi&auml;llewee</span><br />
				                L-<span>9749</span> <span>Fischbach</span><br />
                                <span>Luxembourg</span>
                            </div>
                            <div class="col-xs-12 col-md-6">
				                Tel. <span><a class="phonelink" href="tel:+352-97-90-57-1" onclick="fetch('/api/user/track/', { method: 'POST', body: JSON.stringify({Goal:8,Url:'https://www.ibb.lu/company/showroom/',Source:'+352 97 90 57 - 1',TransactionID:'638507624440102418',Category:'phonelink',Action:'call',Label:'+352 97 90 57 1',Name:'phonelink_call'}), headers: { 'Content-Type': 'application/json' } });gtag('event', 'phonelink_call',{'event_category':'phonelink','event_label':'+352 97 90 57 - 1','value':0,'event_goal':'phonecall','transaction_id':638507624440102418});">+352 97 90 57 - 1</a></span><br />
                                Fax <span>+352 97 99 10</span><br />
				                <span><a class="emaillink" href="mailto:info@ibb.lu?subject=Information%20Request%20-%20Showroom%20-%20www.ibb.lu%20-%20638507624440102418" onclick="fetch('/api/user/track/', { method: 'POST', body: JSON.stringify({Goal:2,Url:'https://www.ibb.lu/company/showroom/',Source:'info@ibb.lu',TransactionID:'638507624440102418',Category:'emaillink',Action:'send',Label:'info@ibb.lu - information request - showroom - www.ibb.lu',Name:'emaillink_send'}), headers: { 'Content-Type': 'application/json' } });gtag('event', 'emaillink_send',{'event_category':'emaillink','event_label':'info@ibb.lu - information request - showroom - www.ibb.lu','value':0,'event_goal':'enquiry','transaction_id':638507624440102418});">info@ibb.lu</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </address>
            <div class="links col-xs-12 col-sm-4 col-md-5">
                <div class="social">
                    <a title="Facebook" class="sociallink sociallink-facebook" rel="me noopener" href="/facebook/" target="_blank" onclick="gtag('event', 'socialvisit_redirect',{'event_category':'socialvisit','event_label':'facebook','value':0,'event_goal':'custom','transaction_id':638507624440102418});"><i class="fab fa-facebook-f" title="Facebook" aria-label="Facebook"></i>Facebook</a>
                    <a title="Youtube" class="sociallink sociallink-youtube" rel="me noopener" href="/youtube/" target="_blank" onclick="gtag('event', 'socialvisit_redirect',{'event_category':'socialvisit','event_label':'youtube','value':0,'event_goal':'custom','transaction_id':638507624440102418});"><i class="fab fa-youtube" title="Youtube" aria-label="Youtube"></i>Youtube</a>
                </div>
                

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="curb-red">
            <svg version="1.1" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve" preserveAspectRatio="none">
                <path id="XMLID_1_" class="st0" d="M40.5-0.5c-16,27.9-30.1,38.3-41,41h41V-0.5z"/>
            </svg>
        </div>
        <div class="container-fluid">
            <div class="row">
                
                <div class="allrights col-xs-12 col-md">
                    <div class="impressum">
                        <span>&#169; 2017-2024 IBB. </span>

                        <span class="legalinfolink"><a title="IBB construction company &amp; real estate projects in Luxembourg" class="pagelink" href="/imprint/">Imprint</a></span>
                        <a title="IBB construction company &amp; real estate projects in Luxembourg" class="pagelink" href="/sitemap-en/">Sitemap</a>
                        <span id="C_T_agencymum" class="agencymum"><span><a title="Website by web agency MUM digital agency" class="contentlink" rel="noopener" href="https://www.mum.lu/sites-web/?utm_source=www.ibb.lu&amp;utm_medium=referral&amp;utm_campaign=references&amp;utm_content=agencymum" target="_blank">Web agency</a>&nbsp;<b>mum.lu</b></span></span>
                    </div>
                </div>
                <div class="label col-xs-12 col-md">
                    <img src="/custom/images/footer-energie.png" alt="Energie fir'd Zukunft Logo" class="energie" />
                    <img src="/custom/images/footer-madeinlux.png" alt="Made in Luxembourg" class="madeinlux" />
                </div>
            </div>
        </div>
    </div>
</footer><script src="/util/jquery/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript">
//<![CDATA[
try{(function() {var afterPrint = function() { gtag('event', 'page_print',{'event_category':'page','event_label':'showroom - [/company/showroom/]','value':0,'event_goal':'custom','transaction_id':638507624441307235}); }; if (window.matchMedia) { var mediaQueryList = window.matchMedia('print'); mediaQueryList.addListener(function(mql) { if (!mql.matches) afterPrint(); }); } window.onafterprint = afterPrint; } ()); } catch (e) { }//]]>
</script>

<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="oi+HCMz3PY5rAs631lIfW18qOxlCZEtUZmWPPqQukB5+k8AZmz/Zzo+WarCzDY1QQJuAPC3jZn2DuubFn+g90b6IUlGJDXSv4kC3eeQK2oA=" />
<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="67A15B4A" />
</form>
<!--WCFormEnd-->



    <script type="text/javascript">

        //https://codyhouse.co/gem/vertical-fixed-navigation/

        $(document).ready(function ($) {

            var contentSections = $('.cd-section'),
                navigationItems = $('#cd-vertical-nav a');

            navigationItems.each(function (index) {
                $(this).attr("data-number", (index + 1));
                $(this).find('span').addClass("cd-label").before("<span class='cd-dot'></span>");
            });

            updateNavigation();
            $(window).on('scroll', function () {
                updateNavigation();
            });

            //smooth scroll to the section
            navigationItems.on('click', function (event) {
                event.preventDefault();
                smoothScroll(constructTarget($(this)));
            });

            function updateNavigation() {
                contentSections.each(function () {
                    $this = $(this);
                    var activeSection = $('#cd-vertical-nav a[href="#' + $this.attr('id') + '"]').data('number') - 1;
                    if (($this.offset().top - $(window).height() / 2 < $(window).scrollTop()) && ($this.offset().top + $this.height() - $(window).height() / 2 > $(window).scrollTop())) {
                        navigationItems.eq(activeSection).addClass('is-selected');
                    } else {
                        navigationItems.eq(activeSection).removeClass('is-selected');
                    }
                });
            }
            function constructTarget(targetElement) {
                var id = targetElement.attr('href').substring(1);
                return $("#" + $.escapeSelector(id))
            }
            function smoothScroll(target) {
                $('body,html').animate(
                    { 'scrollTop': target.offset().top },
                    600
                );
            }
        });

    </script>



    <script type="text/javascript">
        
        $(document).ready( function() {
            $('.entry-cta a').each(function () {
                if ($(this).attr('href') === '' || $(this).text() === '') {
                    $(this).parents('.entry-cta').remove();
                }
            });

            //add target blank on http and https links
            $(".entry-cta a[href*='http://'], .entry-cta a[href*='https://']").each(function () {
                $(this).attr("target", "_blank");
            });
        });
    </script>



    <script type="text/javascript">
        
        $(document).ready(function () {
            $('#toplanguages .current').click(function () {
                $(this).parent().toggleClass('show');
            });
	        $('#navigation-toggle').click( function() {
		        $('html').toggleClass('shownav');
	        });	
	        $('#subnav-toggle').click( function() {
		        $('#subnavvertical').toggleClass('showsubnav');
            });
        });
        $(window).on('scroll load',function(){
	        // we round here to reduce a little workload
	        var stop = Math.round($(window).scrollTop());
	        if (stop > 40) {
		        $('body').addClass('scrolled');
	        } else {
		        $('body').removeClass('scrolled');
	        }	
        });
    </script>

</body>
</html>